.container_selec{
    display: none;
    height: 100vh;
    width: 100vw;
}

.main_selec{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.top_selec{
    background-color: #FBFBFB;
    display: flex;
    width: 100%;
    height: 10%;
}

.box_truck{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_box{
    width: 80%;
    height: 90%;
    border-radius: 5px;
    background-color: #ffffff;
    border-top: 1px solid #f2f2f232;
    border-bottom: 1px solid #f2f2f232;
    transition: 0.5s;
}

.main_box:hover{
    background-color: #d5d5d5;
}