.container_t{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box-t{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.t-bar{
    width: 100%;
    height: 15%;
    display: flex;
}

.t-title{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(72, 78, 78); 
}

.Logout{
    display:flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.Logout button{
    height: 50%;
    width: 50%;
    border: 1px solid #8d8d8d;
    background-color: aliceblue;
    border-radius: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(72, 78, 78); 
}

.box-m{
    width: 100%;
    height: 85%;
    display: flex;
}

.box-m-l{
    height: 100%;
    width: 70%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.box-t-m{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(72, 78, 78);
}

.box-t1{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-b-l{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-in{
    width: 90%;
    height: 90%;
    border: 1px solid #c6c6c6;
    border-radius: 16px;
}

.box-r{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-r{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-t-m-r{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(72, 78, 78);
}

.Data{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd{
    width: 60%;
    height: 90%;
    border: 1px solid #c6c6c6;
    border-radius: 16px;
}