.container_t {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main_t {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-l{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

.box-l{
    width: 80%;
    height: 80%;
    border-radius: 28px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-r{
    width: 70%;
    height: 100%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-sel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 95%;
    gap: 10px;
}

.title_box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: #334155;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.detail-box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: left;
    align-items: start;
    text-align: left;
    color: #334155;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.howto{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;   
}

.First-step{
    width: 100%;
    height: auto;
}

.titel , .titel-sd{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;

    color: #334155;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.Code{
    height: 85%;
    width: 100%;
    border: 1px solid #334155;
}

.box-r{
    height: 80%;
    width:90%;
    background-color: #dddddd;
    border-radius: 28px;
    border-left: 1px solid #dfdfdf;
}

.code-box{
    display: flex ;
    justify-content: start;
    align-items: center;
    height: auto;
    color: #334155 ;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.code-boxt{
    display: flex ;
    justify-content: start;
    align-items: center;
    height: auto;   
    color: #334155 ;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}