.container-Dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar-Dashboard{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.topbar-left-name{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2877cc;
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.topbar-right-button{
    margin-left: auto;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goBackbutton{
    width: 50%;
    height: 50%;
    border: 1px solid #2877cc;
    color: #2877cc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: 0.4s;
    cursor: pointer;
}

.goBackbutton:hover {
    color: #ffffff;
    background-color: #2877cc;
    text-underline-offset: 8px;
}

.midbar-Dashboard{
    background-color: #f0f0f0;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
}
    